body {
    font-family: 'Space Grotesk', sans-serif;
    background-image: url("https://w.forfun.com/fetch/3c/3c6c4e36baafa60eb1376a5386b05e1d.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
    
}

#content {
    border: 6px solid #fefffff7;
    border-radius: 50px;
    width: 350px;
    margin: 10% auto;
    padding: 10%;
    height: auto;
    background-color: #000000c9;
    text-align: center;
}

label {
    display: block;
}

#contactCard{ 
    border: 6px solid #fefffff7;
    border-radius: 50px;
    width: 375px;
    margin: 10% auto;
    padding: 10%;
    height: auto;
    background-color: #000000c9; 
    text-align: left;   
}


h1, h2 {
    text-align: center;
    margin-top: 0px;
    font-size: 42px;
    font-weight: bold; 
    color: #ffffff;
}

h2 {
    border-bottom: 7.5px solid #cececf;
    padding: 30px;
    font-size: 60px;
}


 input, button, p {
    font-size: 22px;
    margin: 5px 0;
    padding: 7.5px;
    border-radius: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: auto;
}

label {
    font-size: 25px;
    font-weight: 0px;
    margin: 5px 0;
    padding: 7.5px;
}

button {
    background-color: #199ab7;
    color: white;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 15px 30px;
    border: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }

button:hover {
    background-color: #fffffffe;
    color: black;
    font-weight: bold;
    
  }

#messageBox {
    background-color: #ffffff;
    color: black;
    border: 4px solid #000000;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    height: auto;
    width: auto;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
}

#messageBox:hover {
    background-color: #7f7d7d9d;
    color: white; 
}

#nameEmail {
    font-weight: bold;
    color: #ffffff;
    padding: 3%;
    margin-top: 0px;
    text-align: left;
}

#labelFont {
    font-weight: bold;
    color: solid #ffffff;
}



  


  





